@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom focus styles for accessibility */
*:focus {
  outline: 2px solid #08A589;
  outline-offset: 2px;
}

/* Custom styles for the mobile menu details/summary */
details[open] summary {
  background-color: #f3f4f6;
}